{% extends 'base.html' %} <!--extende template base-->
{% load static %}

{% block titulo %} <!--alterando a parte de titulo-->
    trajetoria - Historyred
{% endblock %}

{% block content %} <!--parte de conteudo-->
    <header class="min-h-screen min-w-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-center bg-fixed bg-cover" style="background-image: url('{% static 'images/t.png' %}');">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styl.css' %}"> <!--adicionei css externo--> 
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1>trajetoria</h1>
            <h1>Desbravando a história</h1>
            <table>  <!-- Tabela para organizar os links para diferentes etapas -->

              <tr>
                <tr><!-- Primeira linha da tabela -->
                    <td><div class="ball start-ball">Início</div></td>
                    <td><div class="ball2"><a href="{% url 'detalhes_etapa' IdEtapa=01 %}">1</a></div></td>
                        <!-- Célula com link para a etapa 1 tudo isso com pbase no id da etapa e as outras a mesma coisa -->
                    <td><div class="ball3"><a href="{% url 'detalhes_etapa' IdEtapa=02 %}">2</a></div></td>
                    <td><div class="ball2"><a href="{% url 'detalhes_etapa' IdEtapa=03 %}">3</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=04 %}">4</a></div></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><div class="ball3"><a href="{% url 'detalhes_etapa' IdEtapa=05 %}">5</a></div></td>
                </tr>
                <tr>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=10 %}">10</a></div></td>
                    <td><div class="ball3"><a href="{% url 'detalhes_etapa' IdEtapa=09 %}">9</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=08 %}">8</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=07 %}">7</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=06 %}">6</a></div></td>
                </tr>
                <tr>
                    <td><div class="ball2"><a href="{% url 'detalhes_etapa' IdEtapa=11 %}">11</a></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=12 %}">12</a></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=13 %}">13</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=14 %}">14</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=15 %}">15</a></div></td>
                    <td><div class="ball"><a href="{% url 'detalhes_etapa' IdEtapa=16 %}">16</a></div></td>
                    <td><div class="ball start-ball">fim</div></td>
                </tr>
            </table>
        </div>
    
{% endblock %}
