
{% load static %}
<nav class="fixed px-1 py-2.5 rounded w-full z-50"> <!-- isso aqui vai definir um elemento de navegação (<nav>) com algumas classes do Tailwind CSS para estilização.-->

    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <!---- essa parte  cria um contêiner flexível com margens automáticas (mx-auto) e alinhamento no centro usado para organizar os elementos dentro do contêiner.-->
        
      
        <div class="hidden border-red-600 border-4 md:border-none w-full md:block md:w-auto" id="mobile-menu">
           
                <li class="flex justify-center py-1 md:py-0">
                    <a href="{% url 'logout_view' %}"> <!-- Um botão de sair , quando clicar direciona para a URL lougout_view-->
                        <button class="block py-2 pr-4 pl-3 text-white rounded-md md:py-1 md:px-2 bg-red-600"
                            aria-current="page">  
                            sair
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div>
           <li class="flex justify-center py-1 md:py-0">
                <a href="{% url 'cadastrar_material' %}">
                    <button class="block py-2 pr-4 pl-3 text-white rounded-md md:py-1 md:px-2 bg-red-600"
                        aria-current="page">  
                        Sugestão
                    </button>
                </a></div>
                <div class="hidden border-red-600 border-4 md:border-none w-full md:block md:w-auto" id="mobile-menu">
           
                    <li class="flex justify-center py-1 md:py-0">
                        <a href="{% url 'homepage' %}"> <!-- Um botão de sair , quando clicar direciona para a URL lougout_view-->
                            <button class="block py-2 pr-4 pl-3 text-white rounded-md md:py-1 md:px-2 bg-red-600"
                                aria-current="page">  
                                Homepage
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        
</nav>
