<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Materiais</title>
</head>
<body>
    <h1>Listar Materiais</h1>
    <ul>
        
     <h1>Listar Materiais</h1>
        {% if materiais %}
            <h2>{{ materiais.titulo }}</h2>
            <p>Fonte: <a href="{{ materiais.fonte }}">{{ materiais.fonte }}</a></p>
            <p>Data de Publicação: {{ materiais.dataPublicação }}</p>
        {% else %}
            <p>Nenhum material encontrado.</p>
        {% endif %}
    </ul>
</body>
</html>