.custom-header {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    background-opacity: 0.75;
    background-blend-mode: overlay;
    border-bottom: 8px solid gray;
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('static  /images/hystor.jpg'); /* Substitua pelo caminho real da sua imagem */
}

.custom-header h1 {
    font-weight: bold;
    font-size: 2rem; /* 4xl no tamanho normal, 5xl no tamanho md */
    width: 83.33%; /* Equivalente a w-10/12 */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
